/*Oh! I was coding with braille and wondered why i couldn't see it.*/

body {
  background-image:url(sky.jpg);
  image: no-repeat;
}
h2 {
  font-size: 20pt;
  font-family: Trebuchet MS;
  background-color: white;
  color: #cc0000;
}


#header {
  color: yellow;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  background-image: url(poppy.jpg);
  text-align: center;
  font-size: 35;
  background-color: #cc0000;
  font-family: Trebuchet MS;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 5%;
  border-radius: 5px;
  height: 30px;
  border-top: 1px #cc0000 solid;
}
span {
  background-color:#ffff00;
  float: right;
  text-align: center;
  border-radius: 5px;
}

#nickWrap { 
  border-radius: 5px;
  border: white solid 1px;
  height: 80px;
  width: 100%;
  background-image:url(heart.jpg);
}

#contentWrap {
  display: none;
}
/*
.topics {
  text-indent: 5px;
  position: relative;
  font-size: 15pt;
  font-color: white;
  font-family: Trebuchet MS;
  float: right;
  background-image:url("lemonade.jpg");
  width: 30%;
  border-radius: 5px;
  border: white solid 2px;
  margin-right: 5%;
  height: 715px;
  margin-top: 2%;
  */
  
}
li {
  color: #cc0000;
}


#chatWrap {
  margin-top: 20px;
  font-family: Trebuchet MS;
  font-color: white;
  font-size: 15pt;
  text-indent: 5px;
  position: relative;
  float: left;
  background-image:url("dots2.jpg"); no-repeat; 100%;
  background-size: 100%;
  width: 55%;
  margin-left: 5%;
  border-radius: 5px;
  border: white solid 2px;
  height: 715px;
}



#chat {
  background-color: white;
  margin-top: 182px;
  height: 500px;
  width: 100%;
}

#send-message {
  font-size: 15pt;
  width: 95%;
  display: inline-block;
  margin: 0 auto;
  margin-left: 2.5%;
  margin-top: -50px;
  height: 28px;
  border: 2px solid #cc0000;
  
}

button {
  float: right;
  height: 20px;
  width: 100px;
  background-color: #ffff99;
}
