/*Oh! I was coding with braille and wondered why i couldn't see it.*/

body {
  background-image:url(sky.jpg);
  image: no-repeat;
  position: relative;
}
h2 {
  font-size: 20pt;
  font-family: Trebuchet MS;
  color: #cc0000;
}


#header {
  color: yellow;
  text-shadow:
  -2px -2px 0 #006600,  
  2px -2px 0 #006600,
  -2px 2px 0 #006600,
  2px 2px 0 #006600;
  background-image: url(heart2.jpg);
  text-align: center;
  font-size: 70;
  font-family: Trebuchet MS;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 5%;
  border-radius: 5px;
  height: 30px;
  border-top: 1px #cc0000 solid;
}
span {

  background-color: white;
  text-align: center;
  border-radius: 5px;
}

#nickWrap { 
  margin-left: 25%;
  float: left;
  font-family: Trebuchet MS;
  color: #cc0000;
  font-size: 15pt;
  border-radius: 5px;
  border: white solid 1px;
  height: 200px;
  width: 35%;
  background-image:url("welcome2.jpg");
}

#nickname {
  width: 75%;
}

#contentWrap {
  background-image: url("frame.jpg");
  width: 960px;
  height: 720px;
  display: none;
  float: left;
  position: relative;
  margin-left: 0%;
}

#chatWrap {
  width: 60%;
  height: 80%;
  margin-top: 8%;
  margin-left: 8%;
  font-family: Trebuchet MS;
  position: relative;
  float: left;
  background-color: white;
}

#chat {
  background-color: white;
  height: 75%;
  width: 75%;
}

#send-message {
  margin-left: 15%;
  font-size: 15pt;
  width: 70%;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 28px;
  margin-bottom: 0%;
}

#message {
  width: 80%;
}

#users {
  width: 22%;
  background-color: #99ffff;
  height: 80%;
  margin-top: 8%;
  margin-right: 8%;
  float: right;
  color: black;
  font-family: Trebuchet MS;
}

.topics {
  text-indent: 5px;
  position: relative;
  font-size: 15pt;
  font-color: white;
  font-family: Trebuchet MS;
  float: right;
  background-color: white;
  background-image:url("frame2.jpg");
  background-repeat: no-repeat;
  width: 25%;
  margin-right: 2%;
  border-radius: 5px;
  border: white solid 2px;
  height: 715px;
}

li {
  color: #cc0000;
}


button {
  float: right;
  height: 20px;
  width: 100px;
  color: white;
  background-color: #cc99ff;
}
